<app-header titulo="date-time"></app-header>

<ion-content>
  
  <ion-list-header>
    <ion-label>Datos de Nacimiento</ion-label>
  </ion-list-header>


  <ion-list>
    <ion-label class="ion-padding">Fecha de Nacimiento</ion-label>
    <ion-item>

      <ion-datetime [value]="fechaNaci.toISOString()" show-default-buttons="true" (ionChange)="cambioFecha($event)"
        display-format="DD MMMM YYYY"></ion-datetime>
    </ion-item>



    <ion-item button="true" id="open-date-input">
      <ion-label>Fecha de nacimiento</ion-label>
      <ion-popover trigger="open-date-input" show-backdrop="false" size="cover">
        <ng-template>
          <ion-item>
            <ion-datetime #popoverDatetime presentation="date" display-format="DD.MM.YYYY HH:mm"></ion-datetime>
          </ion-item>
        </ng-template>
      </ion-popover>
    </ion-item>


    <ion-list-header>
      <ion-label>Restricciones</ion-label>
    </ion-list-header>

    <ion-label class="ion-padding">Min y Max</ion-label>

    <ion-item>
      <ion-datetime min="2014-01-01" max="2025-01-01" show-default-buttons="true" display-format="DD MMMM YYYY">
      </ion-datetime>
    </ion-item>

    <ion-label class="ion-margin-start" >Años</ion-label>
    <ion-item >
      <ion-datetime min="2014" max="2025" presentation="year" show-default-buttons="true"></ion-datetime>
    </ion-item>

    <ion-label class="ion-margin-start" >Custom Option</ion-label>
    <ion-item >
      <ion-datetime show-default-buttons="true"></ion-datetime>
    </ion-item>


  </ion-list>
</ion-content>