<ion-app>
  <ion-split-pane when="md" contentId="main">

  <ion-menu side="start" menuId="first" contentId="main">
    <ion-header>
      <ion-toolbar color="primary">
        <ion-title>Menú</ion-title>
      </ion-toolbar>
    </ion-header>
    <ion-content>
      <ion-list >
      <ion-menu-toggle *ngFor="let menu of menus | async"
                        autoHide="false"           >
        <ion-item  [routerLink]="menu.redirecTo" 
                 
                    detail>
          <ion-icon slot="start" color="primary" [name]="menu.icon"></ion-icon>
          <label >{{menu.name|titlecase}}</label>
        </ion-item>

      </ion-menu-toggle>
      </ion-list>
    </ion-content>
  </ion-menu>
 
  <ion-router-outlet id="main"></ion-router-outlet>
</ion-split-pane>
</ion-app>
