<app-header titulo="card"></app-header>
<ion-content>
  <ion-card mode="ios">
    <ion-card-header>
      <ion-card-subtitle>Card Subtitle</ion-card-subtitle>
      <ion-card-title>Card Title</ion-card-title>
    </ion-card-header>
  
  </ion-card>


    <ion-card-content>
      Keep close to Nature's heart... and break clear away, once in awhile,
      and climb a mountain or spend a week in the woods. Wash your spirit clean.
    </ion-card-content>

    <ion-card >

        <ion-item color="primary">
          <ion-icon slot="start" name="pin-outline"></ion-icon>
          <ion-label>Marcador</ion-label>
        </ion-item>

        <ion-card-content>
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Odit minima sint suscipit, asperiores necessitatibus temporibus officia tempora inventore ex nam non? Unde, similique. Sapiente laudantium inventore vitae labore odit laborum!
        </ion-card-content>

    </ion-card>


    <ion-card>

      <img src="https://alfabetajuega.com/hero/2018/10/102154.alfabetajuega-solid-snake-040315.jpg?width=480&aspect_ratio=19:10&format=nowebp" alt="">
      <ion-card-content>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Odit minima sint suscipit, asperiores necessitatibus temporibus officia tempora inventore ex nam non? Unde, similique. Sapiente laudantium inventore vitae labore odit laborum!
      </ion-card-content>
    </ion-card>



</ion-content>
